.header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  width: 100vw;
  height: 80px;
  border-bottom: solid gray;
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: space-between;
  background-color: rgb(212, 212, 212);
  position: fixed;
  padding-left: 2vw;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.headerordem {
  display: flex;
  margin-right: 3vw;
}
.headerHeader {
  padding: 3vh;
  justify-content: flex-end;
  display: flex;
  cursor: pointer;
}
