.bigbox {
  width: 85vw;
  height: 130vh;

  background-image: url("/Images/imagemFundo.png"); /* Caminho da imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita repetição */
  background-position: center; /* Centraliza a imagem */
  margin: 0; /* Remove margens padrão */

  border-radius: 50px;
  margin: 3vh 7.5vw;
  border: solid 2px rgb(219, 219, 219);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.titleBox {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: clamp(20px, 2.5vw, 27px);
  margin-top: 20px;
}
.textbox {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px 0vw 0vw 20vw;
  margin-left: 23vw;
  width: 80%;
  height: 80vh;
}
.chackbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 20px;
  color: brown;
  margin-bottom: 5px;
}
.label {
  display: flex;
  flex-direction: column; /* Alinha os itens em uma coluna */
  margin-right: 3vw;
  cursor: pointer; /* Adiciona interatividade ao clicar no texto */
}
.agruparCheckbox {
  float: left;
}
.selectColor {
  width: 100%;
  height: 15vh;
  display: block;
}
.inputNumber {
  display: flex;
  flex-direction: column;
  width: 8vw;
}
#titleFrete {
  width: 15vw;
}
#frete {
  margin-left: 3vw;
  width: 4vw;
}
.inputSize {
}
#largura {
  width: 4vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}
#comprimento {
  width: 4vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}
.titleDimencoes {
  margin: 0 0 1vw 2vw;
}
.calcular {
  display: flex;
  align-items: center;
}
.buttonCalcular {
  margin: 2vw 0 2vw 2vw;
  width: 10vw;
  height: 3vw;
  background-color: rgb(31, 99, 244);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.precoFinal {
  margin-left: 2vw;
  font-size: 2vw;
}
.input-error {
  border: solid 2px red;
}
.error-message {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  margin-top: 8px;
}
