.titleDescription {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 10vw;
  text-align: center;
}

.myDescription {
  background-color: rgb(78, 78, 78);
  color: goldenrod;
  padding: 2vw;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
  margin: 3vw 10vw 1vw;
  width: 40vw;
  display: flex;
  float: left;
  font-size: larger;
  font-weight: bolder;
}
.topNull {
  margin-top: 0vw;
}
.alingText {
  height: 45vh;
}
#imgPerfil {
  padding: 4vw 10vw;
}
.bloco {
  display: block;
}
.bloco2 {
  display: flex;
  float: right;
}
#imgFrete {
  height: 30vw;
  display: flex;
  float: left;
}
