.boxDepoimentos {
  height: 30vw;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
}
.depUnit {
  height: 15vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50%;
  padding: 5vw 6vh 5vw 6vw;
  background-color: rgb(238, 238, 238);
  margin: 5px;
  border-radius: 20px;
}
.fixaLinha {
  display: flex;
  text-align: left;
}
.borderTop {
  /* border-top: 10px solid rgb(255, 255, 255); */
}
.borderLeft {
  /* border-left: 10px solid rgb(255, 255, 255); */
}
